<!DOCTYPE html>
<html lang="cs">
<head>
   <meta charset="UTF-8">
  <title>CITÁT</title>
</head>
<body>
   <p>Klikni na tlačítko a zobrazí se náhodný citát.</p>
   <a href="/citat" class="btn btn-outline-dark"><button>Zobrazit citát</button></a>
  <br><br>
   <p id="citat">{{ citat }}</p>
   <p>Chceš si vybrat jiné téma?</p>
   <form method="POST">
		<input type="text" name="tema" placeholder="Zadej téma">
        <button type="submit" class="btn btn-outline-dark">Zobrazit citát</button>
    </form>
 
 
</body>
</html>
 
